# Homework 3 - Property Dataset

## Loading the dataset

In [1]:
import pandas as pd

In [23]:
residential_property_prices_2020_df = pd.read_csv("original/PPR-2020.csv", encoding= 'unicode_escape')

## Data Exploration

In [24]:
residential_property_prices_2020_df.head()

,Date of Sale (dd/mm/yyyy),Address,Postal Code,County,Price (),Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description
0,01/01/2020,"APT 1 LEE HOUSE, STRAND LANE THE QUAY, CARRIC...",NaN,Tipperary,"120,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
1,01/01/2020,"Lands at Cliffor'd Field, Treanoughtragh, Glen...",NaN,Kerry,"248,681.00",No,Yes,New Dwelling house /Apartment,NaN
2,01/01/2020,"ROSSACOOSANE, TEMPLENOE, KENMARE",NaN,Kerry,"450,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
3,01/01/2020,"Site 4, Clifford's Field, Treanoughtragh",NaN,Kerry,"286,950.00",No,Yes,New Dwelling house /Apartment,NaN
4,02/01/2020,"105 DONAGHMORE, THE ANCHORAGE, BETTYSTOWN",NaN,Meath,"125,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN

In [25]:
residential_property_prices_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49178 entries, 0 to 49177
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date of Sale (dd/mm/yyyy)  49178 non-null  object
 1   Address                    49178 non-null  object
 2   Postal Code                9559 non-null   object
 3   County                     49178 non-null  object
 4   Price ()                  49178 non-null  object
 5   Not Full Market Price      49178 non-null  object
 6   VAT Exclusive              49178 non-null  object
 7   Description of Property    49178 non-null  object
 8   Property Size Description  19 non-null     object
dtypes: object(9)
memory usage: 3.4+ MB

Let's change the name of the columns

In [26]:
names = ['sale_date','street','postal_code','county','price','not_null_market_price','vat_exclusive','vat_exclusive','property_size']
residential_property_prices_2020_df.columns = names

In [27]:
residential_property_prices_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49178 entries, 0 to 49177
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sale_date              49178 non-null  object
 1   street                 49178 non-null  object
 2   postal_code            9559 non-null   object
 3   county                 49178 non-null  object
 4   price                  49178 non-null  object
 5   not_null_market_price  49178 non-null  object
 6   vat_exclusive          49178 non-null  object
 7   vat_exclusive          49178 non-null  object
 8   property_size          19 non-null     object
dtypes: object(9)
memory usage: 3.4+ MB

In the price column we must make sure to read only numbers. In order to do that, we will use the map and replace functions

In [36]:
residential_property_prices_2020_df['price'] = residential_property_prices_2020_df['price'].map(lambda x: x[1:].replace(",","") )

In [37]:
residential_property_prices_2020_df.head()

,sale_date,street,postal_code,county,price,not_null_market_price,vat_exclusive,vat_exclusive,property_size
0,01/01/2020,"APT 1 LEE HOUSE, STRAND LANE THE QUAY, CARRIC...",NaN,Tipperary,000.00,No,No,Second-Hand Dwelling house /Apartment,NaN
1,01/01/2020,"Lands at Cliffor'd Field, Treanoughtragh, Glen...",NaN,Kerry,681.00,No,Yes,New Dwelling house /Apartment,NaN
2,01/01/2020,"ROSSACOOSANE, TEMPLENOE, KENMARE",NaN,Kerry,000.00,No,No,Second-Hand Dwelling house /Apartment,NaN
3,01/01/2020,"Site 4, Clifford's Field, Treanoughtragh",NaN,Kerry,950.00,No,Yes,New Dwelling house /Apartment,NaN
4,02/01/2020,"105 DONAGHMORE, THE ANCHORAGE, BETTYSTOWN",NaN,Meath,000.00,No,No,Second-Hand Dwelling house /Apartment,NaN

## Saving to disk

After performing data cleansing, we save the data from the dataframe into disk, so another process can take that file and upload it into the database (like Mysql Workbench's Table Data Import Wizard)

In [32]:
residential_property_prices_2020_df.to_csv('processed/PPR-2020.csv',index=False)